body{
    background-color: #ffffff;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

}
nav, header, section, .contenido, footer{
    max-width: 92%;
    margin: auto;
}
nav{
    background-color: #f2880d;
}
header{
    background-color: #ffffff
}
#contenedor{
  background-color: burlywood;  
  width: 1200px;
	margin: auto;
	margin-top: 10px; 
	border-radius: 20px; 
	overflow: hidden;
	margin-bottom: 20px
}
.central{
    background-color: chocolate;
    display: inline-block;
    max-width: 65%;
}
footer{
    background-color: #005883;
}
aside{
   
    display: left;
    max-width: 27%;
}