body{
    background-color: wheat;
    color: black;
}
nav, header, section, .contenido, footer{
    max-width: 92%;
    margin: auto;
}
nav{
    background-color: brown;
}
header{
    background-color: darkcyan;
}
.contenido{
  background-color: burlywood;  
}
.central{
    background-color: chocolate;
    display: inline-block;
    max-width: 65%;
}
footer{
    background-color: darkgreen;
}
aside{
   
    display: left;
    max-width: 27%;
}